# Mapping pada Data Frame dengan `applymap()`

## Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.3.1

## Persiapan Data Frame

In [2]:
df = pd.DataFrame({'jenis_kelamin': ['Pria', 'Wanita', 'lelaki', 'Lelaki', 'Perempuan'],
                   'usia': [23, 21, 24, 22, 21],
                   
                   'shift': ['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     Perempuan    21   pagi

## Mapping pada Data Frame dengan `applymap()`

In [3]:
df = df.map(lambda x: x.lower() if isinstance(x, str) else x)
df

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

In [4]:
df = df.map(lambda x: x.lower() if x == str else x)
df

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

## `applymap()` dengan dictionary

In [5]:
mapping = {'pria': 'L',
           'lelaki': 'L',
           'wanita': 'P',
           'perempuan': 'P',
           'pagi': 1,
           'siang': 2,
           'malam': 3}

df.map(mapping.get)

  jenis_kelamin  usia  shift
0             L  None      1
1             P  None      2
2             L  None      3
3             L  None      2
4             P  None      1

In [6]:
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].map(mapping.get)

df

  jenis_kelamin  usia  shift
0             L    23      1
1             P    21      2
2             L    24      3
3             L    22      2
4             P    21      1

## 📝 Kesimpulan

### 🎯 **Ringkasan Pembelajaran: Mapping pada DataFrame dengan `map()`**

Pada notebook ini, kita telah mempelajari teknik **mapping dan transformasi data** menggunakan fungsi `map()` dalam pandas. Teknik ini sangat powerful untuk data cleaning, standardization, dan encoding categorical data.

### 🔧 **Teknik Mapping yang Dipelajari:**

| Teknik | Syntax | Kegunaan | Contoh |
|--------|--------|----------|---------|
| **Lambda Function** | `df.map(lambda x: x.lower() if isinstance(x, str) else x)` | Conditional transformation | Lowercase strings, keep numbers |
| **Dictionary Mapping** | `df.map(mapping.get)` | Value replacement | Gender codes, categorical encoding |
| **Selective Mapping** | `df[['col1', 'col2']].map(mapping.get)` | Specific columns only | Target specific columns |

### 📊 **Pattern Transformasi:**

#### **1. Conditional Lambda Mapping**
```python
# Pattern: apply function if condition met, else keep original
df.map(lambda x: x.lower() if isinstance(x, str) else x)
```

**Breakdown:**
- `lambda x:` → Anonymous function dengan parameter x
- `isinstance(x, str)` → Check apakah x adalah string
- `x.lower() if condition else x` → Conditional expression (ternary)

#### **2. Dictionary Mapping**
```python
mapping = {'old_value': 'new_value', ...}
df.map(mapping.get)
```

**Keuntungan:**
- ✅ **Bulk transformation**: Multiple values sekaligus
- ✅ **Consistent encoding**: Standardisasi kategori
- ✅ **Safe mapping**: `.get()` returns `None` untuk unmapped values

### 🚀 **Use Cases Praktis:**

#### **1. Data Standardization**
```python
# Standardisasi gender codes
gender_mapping = {
    'pria': 'L', 'lelaki': 'L', 'laki-laki': 'L',
    'wanita': 'P', 'perempuan': 'P', 'cewek': 'P'
}
df['gender_code'] = df['gender'].map(gender_mapping.get)
```

#### **2. Categorical Encoding**
```python
# Convert shift schedule to numeric
shift_mapping = {'pagi': 1, 'siang': 2, 'malam': 3}
df['shift_code'] = df['shift'].map(shift_mapping.get)
```

#### **3. Data Cleaning**
```python
# Uniform text formatting
df = df.map(lambda x: x.strip().lower() if isinstance(x, str) else x)
```

### 💡 **Best Practices:**

#### **1. Type Safety dengan `isinstance()`**
```python
# ✅ GOOD: Check type sebelum apply method
lambda x: x.lower() if isinstance(x, str) else x

# ❌ BAD: Assume semua adalah string
lambda x: x.lower()  # Error jika ada number
```

#### **2. Safe Dictionary Mapping**
```python
# ✅ GOOD: Use .get() untuk handle unmapped values
df.map(mapping.get)

# ❌ RISKY: Direct access bisa error
df.map(mapping.__getitem__)  # KeyError jika key tidak ada
```

#### **3. Selective Column Mapping**
```python
# ✅ EFFICIENT: Map hanya kolom yang perlu
df[['gender', 'shift']].map(mapping.get)

# ❌ INEFFICIENT: Map seluruh DataFrame
df.map(mapping.get)  # Include kolom yang tidak perlu
```

### 🔄 **Comparison: map() vs apply() vs replace()**

| Method | Scope | Use Case | Example |
|--------|--------|----------|---------|
| **`map()`** | Element-wise | Simple value transformation | Dictionary mapping, lambda |
| **`apply()`** | Row/column-wise | Complex functions | Aggregation, custom logic |
| **`replace()`** | Value replacement | Direct substitution | Find & replace values |

### ⚡ **Performance Considerations:**

#### **1. Dictionary Mapping**
- **Fastest** untuk simple value replacement
- **Memory efficient** untuk large mappings
- **Vectorized operation** di pandas

#### **2. Lambda Functions**
- **Flexible** untuk complex logic
- **Readable** untuk conditional operations
- **Slightly slower** dibanding dictionary mapping

### 🎯 **Workflow Rekomendasi:**

1. **Data Exploration**: Identify inconsistent values
2. **Create Mapping**: Build dictionary atau lambda function
3. **Test on Sample**: Verify transformation works correctly
4. **Apply to Target**: Map specific columns atau entire DataFrame
5. **Validate Results**: Check for unmapped values (`None` atau `NaN`)

### 📋 **Key Takeaways:**

- **`map()`** adalah swiss army knife untuk data transformation
- **Lambda functions** perfect untuk conditional logic
- **Dictionary mapping** ideal untuk categorical encoding
- **Type checking** dengan `isinstance()` prevents errors
- **Selective mapping** lebih efficient daripada whole DataFrame

Dengan menguasai mapping techniques, kita bisa melakukan data cleaning dan transformation yang powerful dan efficient! 🎨✨