# Menerapkan agregasi pada sejumlah kolom dengan `agg()`

## Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.3.1

## Persiapan Data Frame

In [2]:
df = pd.read_csv('./../data/titanicfull.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

In [3]:
df.groupby('pclass').agg({
    'pclass': 'count',
    'age': ['mean', 'max'],
    'survived': 'mean'
})

       pclass        age        survived
        count       mean   max      mean
pclass
1         323  39.159930  80.0  0.619195
2         277  29.506705  70.0  0.429603
3         709  24.816367  74.0  0.255289

In [4]:
df.groupby('pclass').agg(
    n_pass = ('pclass', 'count'),
    avg_age = ('age', 'mean'),
    max_age = ('age', 'max'),
    survival_rate = ('survived', 'mean')
)

        n_pass    avg_age  max_age  survival_rate
pclass
1          323  39.159930     80.0       0.619195
2          277  29.506705     70.0       0.429603
3          709  24.816367     74.0       0.255289

## 📋 Kesimpulan: Menerapkan Agregasi pada Sejumlah Kolom dengan `agg()`

### 🎯 Konsep Utama

**`agg()` (aggregate)** adalah method pandas yang sangat powerful untuk **menerapkan berbagai fungsi agregasi pada multiple kolom sekaligus**. Method ini memungkinkan kita melakukan analisis kompleks dengan syntax yang clean dan readable.

### 🔧 Dua Syntax Utama

#### **1. Dictionary-based Syntax (Classic)**
```python
df.groupby('column').agg({
    'col1': 'function1',
    'col2': ['function1', 'function2'],
    'col3': 'function3'
})
```

#### **2. Named Aggregation Syntax (Modern)**
```python
df.groupby('column').agg(
    custom_name1 = ('col1', 'function1'),
    custom_name2 = ('col2', 'function2'),
    custom_name3 = ('col3', 'function3')
)
```

### 📊 Comparison: Dictionary vs Named Aggregation

| Aspek | Dictionary Syntax | Named Aggregation |
|-------|-------------------|-------------------|
| **Readability** | ⭐⭐⭐ | ⭐⭐⭐⭐⭐ |
| **Column Naming** | Auto-generated | Custom names |
| **Flexibility** | ⭐⭐⭐⭐ | ⭐⭐⭐⭐⭐ |
| **Multi-level Index** | Yes (dengan multiple functions) | No (flat structure) |
| **Pandas Version** | All versions | 0.25.0+ |

### 💡 Contoh Praktis dari Notebook

```python
# 1. Dictionary syntax - Multiple functions per column
df.groupby('pclass').agg({
    'pclass': 'count',           # Count passengers
    'age': ['mean', 'max'],      # Average and max age
    'survived': 'mean'           # Survival rate
})

# 2. Named aggregation - Custom column names
df.groupby('pclass').agg(
    n_pass = ('pclass', 'count'),      # Number of passengers
    avg_age = ('age', 'mean'),         # Average age
    max_age = ('age', 'max'),          # Maximum age
    survival_rate = ('survived', 'mean') # Survival rate
)
```

### 🚀 Advanced Aggregation Techniques

#### **1. Custom Functions**
```python
def age_range(series):
    return series.max() - series.min()

def survival_summary(series):
    return f"{series.sum()}/{len(series)} ({series.mean():.1%})"

# Using custom functions
df.groupby('pclass').agg(
    passenger_count = ('pclass', 'count'),
    age_range = ('age', age_range),
    age_stats = ('age', lambda x: f"μ={x.mean():.1f}, σ={x.std():.1f}"),
    survival_summary = ('survived', survival_summary),
    fare_stats = ('fare', lambda x: {'min': x.min(), 'max': x.max(), 'median': x.median()})
)
```

#### **2. Multiple Groups dengan Complex Aggregation**
```python
# Multi-level grouping
complex_agg = df.groupby(['sex', 'pclass']).agg(
    count = ('pclass', 'size'),
    avg_age = ('age', 'mean'),
    survival_rate = ('survived', 'mean'),
    fare_range = ('fare', lambda x: x.max() - x.min()),
    missing_age = ('age', lambda x: x.isnull().sum())
)

print(complex_agg)
```

#### **3. Conditional Aggregation**
```python
# Aggregation dengan kondisi
df.groupby('pclass').agg(
    total_passengers = ('pclass', 'count'),
    adult_passengers = ('age', lambda x: (x >= 18).sum()),
    child_passengers = ('age', lambda x: (x < 18).sum()),
    adult_survival_rate = ('survived', lambda x: x[df.loc[x.index, 'age'] >= 18].mean()),
    avg_fare_survivors = ('fare', lambda x: x[df.loc[x.index, 'survived'] == 1].mean())
)
```

### 📈 Built-in Aggregation Functions

| Function | Deskripsi | Use Case |
|----------|-----------|----------|
| **count** | Jumlah non-null values | Data availability |
| **size** | Jumlah total values (termasuk NaN) | Group size |
| **sum** | Total nilai | Revenue, quantities |
| **mean** | Rata-rata | Average performance |
| **median** | Nilai tengah | Robust central tendency |
| **std** | Standar deviasi | Variability measure |
| **var** | Variance | Statistical analysis |
| **min/max** | Nilai minimum/maksimum | Range analysis |
| **first/last** | Nilai pertama/terakhir | Time series |
| **nunique** | Jumlah unique values | Diversity measure |

### 🔍 Real-World Business Applications

#### **1. Sales Analytics**
```python
# Sales performance analysis
sales_summary = sales_df.groupby('region').agg(
    total_sales = ('amount', 'sum'),
    avg_deal_size = ('amount', 'mean'),
    num_deals = ('deal_id', 'count'),
    top_sale = ('amount', 'max'),
    sales_rep_count = ('sales_rep', 'nunique'),
    conversion_rate = ('converted', 'mean')
)
```

#### **2. Customer Analytics**
```python
# Customer behavior analysis
customer_metrics = df.groupby('customer_segment').agg(
    customer_count = ('customer_id', 'nunique'),
    avg_purchase_value = ('purchase_amount', 'mean'),
    total_revenue = ('purchase_amount', 'sum'),
    avg_frequency = ('purchase_count', 'mean'),
    retention_rate = ('is_retained', 'mean'),
    avg_lifetime_value = ('lifetime_value', 'mean')
)
```

#### **3. Financial Analysis**
```python
# Financial KPIs
financial_summary = transactions_df.groupby('quarter').agg(
    total_revenue = ('revenue', 'sum'),
    total_costs = ('costs', 'sum'),
    profit_margin = ('profit', lambda x: x.sum() / transactions_df.loc[x.index, 'revenue'].sum()),
    avg_transaction = ('amount', 'mean'),
    transaction_count = ('transaction_id', 'count'),
    largest_transaction = ('amount', 'max')
)
```

### 🎯 Performance Optimization Tips

#### **1. Efficient Aggregation**
```python
# ✅ Efficient - Single pass through data
efficient_agg = df.groupby('pclass').agg({
    'age': ['count', 'mean', 'std', 'min', 'max'],
    'fare': ['mean', 'median', 'std'],
    'survived': ['sum', 'mean']
})

# ❌ Inefficient - Multiple groupby operations
inefficient_count = df.groupby('pclass')['age'].count()
inefficient_mean = df.groupby('pclass')['age'].mean()
inefficient_std = df.groupby('pclass')['age'].std()
```

#### **2. Memory Management**
```python
# Untuk large datasets
def chunked_aggregation(df, group_col, chunk_size=10000):
    """Process large datasets in chunks"""
    chunks = []
    for i in range(0, len(df), chunk_size):
        chunk = df.iloc[i:i+chunk_size]
        chunk_agg = chunk.groupby(group_col).agg({
            'value': ['sum', 'count']
        })
        chunks.append(chunk_agg)
    
    # Combine results
    combined = pd.concat(chunks).groupby(level=0).sum()
    return combined
```

### 🔍 Error Handling & Edge Cases

```python
def safe_aggregation(df, group_col, agg_dict):
    """Safe aggregation dengan error handling"""
    try:
        result = df.groupby(group_col).agg(agg_dict)
        return result
    except KeyError as e:
        print(f"Column not found: {e}")
        available_cols = list(df.columns)
        print(f"Available columns: {available_cols}")
        return None
    except Exception as e:
        print(f"Aggregation error: {e}")
        return None

# Handle missing values
def robust_aggregation(df, group_col):
    """Aggregation yang handle missing values"""
    return df.groupby(group_col).agg(
        count_total = ('value', 'size'),           # Include NaN
        count_valid = ('value', 'count'),          # Exclude NaN
        mean_value = ('value', 'mean'),            # Auto exclude NaN
        missing_pct = ('value', lambda x: x.isnull().mean())
    )
```

### 💡 Best Practices

#### **1. Naming Conventions**
```python
# ✅ Descriptive names untuk clarity
df.groupby('department').agg(
    employee_count = ('employee_id', 'nunique'),
    avg_salary = ('salary', 'mean'),
    total_budget = ('salary', 'sum'),
    salary_std = ('salary', 'std'),
    max_experience = ('years_experience', 'max')
)

# ❌ Avoid confusing names
df.groupby('department').agg(
    x1 = ('employee_id', 'nunique'),
    x2 = ('salary', 'mean')
)
```

#### **2. Documentation**
```python
def calculate_kpis(df, group_by_col):
    """
    Calculate key performance indicators by group
    
    Args:
        df: DataFrame with sales data
        group_by_col: Column to group by
    
    Returns:
        DataFrame with KPIs: revenue, profit margin, avg deal size, etc.
    """
    return df.groupby(group_by_col).agg(
        total_revenue = ('revenue', 'sum'),
        profit_margin = ('profit', lambda x: x.sum() / df.loc[x.index, 'revenue'].sum()),
        avg_deal_size = ('deal_amount', 'mean'),
        deal_count = ('deal_id', 'count')
    )
```

### 🔧 Advanced Patterns

#### **1. Dynamic Aggregation**
```python
def dynamic_agg(df, group_col, numeric_cols):
    """Dynamic aggregation berdasarkan tipe data"""
    agg_dict = {}
    
    for col in numeric_cols:
        if df[col].dtype in ['int64', 'float64']:
            agg_dict[col] = ['mean', 'sum', 'std']
        elif df[col].dtype == 'object':
            agg_dict[col] = ['count', 'nunique']
    
    return df.groupby(group_col).agg(agg_dict)
```

#### **2. Multi-step Aggregation**
```python
# Step 1: Basic aggregation
basic_stats = df.groupby('category').agg({
    'sales': ['sum', 'mean', 'count'],
    'profit': ['sum', 'mean']
})

# Step 2: Calculate derived metrics
basic_stats['profit_margin'] = (
    basic_stats[('profit', 'sum')] / basic_stats[('sales', 'sum')]
)
basic_stats['sales_per_transaction'] = (
    basic_stats[('sales', 'sum')] / basic_stats[('sales', 'count')]
)
```

### 🎯 Key Takeaways

- ✅ **Named aggregation** lebih readable dan menghasilkan flat column structure
- ✅ **Dictionary syntax** powerful untuk multiple functions per column
- ✅ **Custom functions** memungkinkan complex business logic
- ✅ **Single agg() call** lebih efisien daripada multiple groupby operations
- ✅ **Handle missing values** dengan appropriate aggregation functions
- ✅ **Use descriptive names** untuk maintainability
- ✅ **Document aggregation logic** untuk team collaboration

**`agg()` adalah Swiss Army knife untuk group analysis - master this untuk advanced data insights!** 🚀